<!--===============================
=            Hero Area            =
================================-->

<section class="hero-area bg-1 text-center overly">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Header Contetnt -->
				<div class="content-block">
					<h1>Mua hàng trực tuyến </h1>
					<p>Đăng ký tài khoản để nhận khuyến mãi <br> mua các sản phẩm yêu thích với giá ưu đãi</p>
					<div class="short-popular-category-list text-center">
						<h2>Mặt hàng thông dụng</h2>
						<ul class="list-inline">
							<li class="list-inline-item">
								<a href="dssp"><i class="fas fa-laptop"></i> Điện tử</a>
							</li>
							<li class="list-inline-item">
								<a href="dssp"><i class="fas fa-tshirt"></i> Thời trang</a>
							</li>
							<li class="list-inline-item">
								<a href="dssp"><i class="fas fa-cookie"></i> Bánh kẹo</a>
							</li>
							<li class="list-inline-item">
								<a href="dssp"><i class="fas fa-puzzle-piece"></i> Đồ chơi</a>
							</li>
							<li class="list-inline-item">
								<a href="dssp"><i class="fas fa-book"></i> Sách</a>
							</li>
						</ul>
					</div>

				</div>
				<!-- Advance Search -->
				<div class="advance-search">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-12 col-md-12 align-content-center">
								<form method="GET" action="/product/">
									<div class="form-row">
										<div class="form-group col-md-3">
											<input type="text" class="form-control my-2 my-lg-0" id="input" name="name"
												placeholder="Bạn cần tìm gì" value="{{name}}">
										</div>


										<div class="form-group col-md-3 select-category">
											<select class="form-control my-2 my-lg-0" selected="{{name}}"
												name="category">
												<option value="">Tất cả</option>
												{{#each dsl}}
												<option value="{{id}}">{{name}}</option>
												{{/each}}
											</select>
										</div>

										<div class="form-group col-md-2">
											<input type="text" class="form-control my-2 my-lg-0" id="inputLocation4"
												placeholder="Giá" name="price" value="{{price}}">
										</div>
										<div class="form-group col-md-2">
											<input type="text" class="form-control my-2 my-lg-0" id="inputLocation4"
												placeholder="Giảm giá (%)" name="discount" value="{{discount}}">
										</div>
										<div class="form-group col-md-2">

											<button type="submit" class="btn btn-primary">Tìm kiếm</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>
<!--===================================
=            Client Slider            =
====================================-->


<!--===========================================
=            Popular deals section            =
============================================-->


<section class="popular-deals section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="section-title">
					<h2>Sản phẩm bán chạy</h2>
					<p>Các sản phẩm bán chạy nhất trong tháng vừa qua, có thể bạn sẽ thích</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- offer 01 -->

			<div class="col-lg-12">
				<div class="trending-ads-slide">
					{{#each dssp}}
					<div class="col-sm-12 col-lg-4">

						<div class="product-item bg-light">
							<div class="card">

								<div class="thumb-content">
									<!-- <div class="price">$200</div> -->
									<a href="/product/{{product_id}}">
										<img class="card-img-top img-fluid" src="{{image}}" alt="Card image cap">
									</a>
								</div>
								<div class="card-body">
									<h4 class="card-title"><a href="/product/{{product_id}}">{{product_name}}</a></h4>
									<ul class="list-inline product-meta">
										<li class="list-inline-item">
											<a href="/product/{{product_id}}"><i
													class="fa fa-folder-open-o"></i>{{category_name}}</a>
										</li>
										<li class="list-inline-item">
											<a href="#"><i class="fa fa-calendar"></i>{{price}}</a>
										</li>
									</ul>
									<p class="card-text">"{{description}}"</p>
									<div class="product-ratings">
										<ul class="list-inline">
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item selected"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</section>

<!--====================================
=            Call to Action            =
=====================================-->

<section class="call-to-action overly bg-3 section-sm">
	<!-- Container Start -->
	<div class="container">
		<div class="row justify-content-md-center text-center">
			<div class="col-md-8">
				<div class="content-holder">
					<h2>Mua hàng ngay hôm nay để nhận nhiều ưu đãi</h2>
					{{#if user}}
					{{else}}
					<ul class="list-inline mt-30">
						<li class="list-inline-item"><a class="btn btn-main" href="login.html">Đăng nhập</a></li>
						<li class="list-inline-item"><a class="btn btn-secondary" href="register.html">Đăng ký</a></li>
					</ul>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
	<!-- Container End -->
</section>