<!--===================================
=                Search               =
====================================-->
<section class="page-search">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- Advance Search -->
				<div class="advance-search">
					<form method="GET" action="/product/">
						<div class="form-row">
							<div class="form-group col-md-3">
								<input type="text" class="form-control my-2 my-lg-0" id="input" name="name"
									placeholder="Bạn cần tìm gì" value="{{name}}">
							</div>


							<div class="form-group col-md-3 select-category">
								<select class="form-control my-2 my-lg-0" selected="{{name}}" name="category">
									<option value="">Tất cả</option>
									{{#each dsl}}
									<option value="{{id}}">{{name}}</option>
									{{/each}}
								</select>
							</div>

							<div class="form-group col-md-2">
								<input type="text" class="form-control my-2 my-lg-0" id="inputLocation4"
									placeholder="Giá" name="price" value="{{price}}">
							</div>
							<div class="form-group col-md-2">
								<input type="text" class="form-control my-2 my-lg-0" id="inputLocation4"
									placeholder="Giảm giá (%)" name="discount" value="{{discount}}">
							</div>
							<div class="form-group col-md-2">
								<button type="submit" class="btn btn-primary">Tìm kiếm</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<!--===================================
=            Store Section            =
====================================-->
<section class="section bg-gray">
	<!-- Container Start -->
	<div class="container">
		<div class="row">
			<!-- Left sidebar -->
			<div class="col-md-8">
				<div class="product-details">
					<h1 class="product-title">{{p.product_name}}</h1>
					<div class="product-meta">
						<ul class="list-inline">
							<li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Loại<a
									href="">{{p.category_name}}</a></li>
							<li class="list-inline-item"><i class="fa fa-location-arrow"></i> Hiện còn<a
									href="">{{p.inventory_quantity}}</a> sản phẩm</li>
						</ul>
					</div>

					<!-- product slider -->
					<div class="product-slider">
						<div class="product-slider-item my-4" data-image="{{p.image}}">
							<img class="img-fluid w-100" src="{{p.image}}" alt="product-img">
						</div>
					</div>
					<!-- product slider -->
					<div class="content mt-5 pt-5">
						<ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home"
									role="tab" aria-controls="pills-home" aria-selected="true">Chi tiết sản phẩm</a>
							</li>

							<li class="nav-item">
								<a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact"
									role="tab" aria-controls="pills-contact" aria-selected="false">Đánh giá</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel"
								aria-labelledby="pills-home-tab">
								<h3 class="tab-title">Thông tin sản phẩm</h3>
								<p>Tên: {{p.product_name}}</p>
								<p>Giá: {{p.price}}</p>
								<p>Giảm giá: {{p.discount}}</p>
								<p>Loại sản phẩm: {{p.category_name}}</p>
								<p>Lượt mua: {{p.buys}}</p>
								<p>Còn lại: {{p.inventory_quantity}}</p>
								<h3 class="tab-title">Mô tả sản phẩm</h3>
								<p>{{p.description}}</p>
							</div>


							<div class="tab-pane fade" id="pills-contact" role="tabpanel"
								aria-labelledby="pills-contact-tab">
								<h3 class="tab-title">Bình luận</h3>
								<div class="product-review">
									{{#each cmt}}
									<div class="media">
										<!-- Avater -->
										<img src="{{image}}" alt="avater">
										<div class="media-body">

											<div class="name">
												<h5>{{name}}</h5>
											</div>
											<div class="date">
												<p>{{created_date}}</p>
											</div>
											<div class="review-comment">
												<p>
													{{content}}
												</p>
											</div>
										</div>
									</div>

									{{/each}}
									<div class="pagination justify-content-center">
										<nav aria-label="Page navigation example">
											<ul class="pagination">
												<li class="page-item">
													<a class="page-link" href="?#pills-contact" aria-label="Previous">
														<span aria-hidden="true">&laquo;</span>
														<span class="sr-only">Previous</span>
													</a>
												</li>
												{{#each pageList}}
												{{#if active}}
												<li class="page-item active"><a class="page-link"
														href="?page={{page}}#pills-contact">{{page}}</a></li>
												{{else}}
												<li class="page-item"><a class="page-link"
														href="?page={{page}}#pills-contact">{{page}}</a>
												</li>
												{{/if}}
												{{/each}}
												<li class="page-item">
													<a class="page-link" href="?page={{len}}#pills-contact"
														aria-label="Next">
														<span aria-hidden="true">&raquo;</span>
														<span class="sr-only">Next</span>
													</a>
												</li>
											</ul>
										</nav>
									</div>
									<div class="review-submission">
										<h3 class="tab-title">Gửi bình luận</h3>
										<!-- Rate -->
										<div class="rate">
											<div class="starrr"></div>
										</div>
										<div class="review-submit">
											<form method="POST" class="row" onsubmit="return checkUserCmt()"
												action="/product/add-comment/{{p.product_id}}">
												<input type="hidden" value={{user.id}} name="user" id="user" />
												<div class="col-lg-12">
													<input type="text" name="customer_name" id="customer_name"
														class="form-control" placeholder="Tên">
												</div>

												<div class="col-12">
													<textarea name="content" id="content" rows="3" class="form-control"
														placeholder="Bình luận"></textarea>
												</div>
												<p class="error_msg" id="error">{{error}}</p>
												<div class="col-12">
													<button type="submit" class="btn btn-main">Gửi</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="sidebar">
					<div class="widget price text-center">
						<h4>Giá</h4>
						<p>{{p.price}} VNĐ</p>
					</div>




					<div class="num-block skin-1">
						<div class="num-in">
							<span class="minus dis"></span>
							<input type="text" class="in-num" value="1" readonly="">
							<span class="plus"></span>
						</div>
					</div>


					<div class="widget rate">
						<!-- Heading -->
						<h5 class="widget-header text-center">Sản phẩm tương tự</h5>
						<div class="col-lg-12">
							<div>
								{{#each dssp}}
								<div class="col-sm-12 col-lg-12">

									<div class="product-item bg-light">
										<div class="card">

											<div class="thumb-content">
												<!-- <div class="price">$200</div> -->
												<a href="/product/{{product_id}}">
													<img class="card-img-top img-fluid" src="{{image}}"
														alt="Card image cap">
												</a>
											</div>
											<div class="card-body">
												<h4 class="card-title"><a
														href="/product/{{product_id}}">{{product_name}}</a></h4>
												<ul class="list-inline product-meta">
													<li class="list-inline-item">
														<a href="/product/{{product_id}}"><i
																class="fa fa-folder-open-o"></i>{{category_name}}</a>
													</li>
													<li class="list-inline-item">
														<a href="#"><i class="fa fa-calendar"></i>{{price}}</a>
													</li>
												</ul>
												<p class="card-text">"{{description}}"</p>
											</div>
										</div>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
						<!-- Rate -->

					</div>

				</div>
			</div>
		</div>
	</div>
</section>



<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="./src/bootstrap-input-spinner.js"></script>
<script>
	$("input[type='number']").inputSpinner();
</script>