
<!--==================================
=            User Profile            =
===================================-->

<section class="user-profile section">
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user">
						<!-- User Image -->
						<div class="image d-flex justify-content-center">
							<img src="{{image}}" alt="" class="">
						</div>
						<!-- User Name -->
						<h5 class="text-center">{{name}}</h5>
					</div>
					<!-- Dashboard Links -->
					<div class="widget dashboard-links">
						<ul>
							<li><a class="my-1 d-inline-block" href="">Giỏ hàng</a></li>
							<li><a class="my-1 d-inline-block" href="">Đơn hàng <span>(5)</span></a></li>
							<li><a class="my-1 d-inline-block" href="">Favourite Stores <span>(3)</span></a></li>
							<li><a class="my-1 d-inline-block" href="">Recommended</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-9 offset-lg-0">
				<!-- Edit Profile Welcome Text -->
				
				<!-- Edit Personal Info -->
				<div class="row">
					<div class="col-lg-9 col-md-9">
						<div class="widget personal-info">
							<h3 class="widget-header user">Chỉnh sửa thông tin cá nhân</h3>
							<form method="POST"  onsubmit="return checkInfo()"  enctype="multipart/form-data">
								
								<!-- Name -->
								<div class="form-group">
									<label for="last-name">Họ tên</label>
									<input type="text" class="form-control" id="info-name" value="{{name}}" name="name">
								</div>
								<!-- File chooser -->
								<div class="form-group choose-file d-inline-flex">
									<i class="fa fa-user text-center px-3"></i>
									<input type="file" accept=".jpg, .png, .gif, .jpeg" class="form-control-file mt-2 pt-1" id="input-file" name="image" >
								 </div>
								<!-- Comunity Name -->
								<div class="form-group">
									<label for="comunity-name">Số điện thoại </label>
									<input type="text" class="form-control" id="info-phone" value="{{phone_number}}" name="phone_number" >
								</div>
								<!-- Checkbox -->
								<!-- Zip Code -->
								<div class="form-group">
									<label for="zip-code">Ngày sinh</label>
									<input type="date" class="form-control" id="info-birthday" value="{{date_of_birth}}"  name="date_of_birth">
								</div>
								<p id="error-phone" class="error_msg">{{e}}</p>
								<!-- Submit button -->
								<input type="submit" class="btn btn-transparent" value="Lưu thay đổi" >
							</form>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
